body {
    background:#46BA9A;
    font-family:Arial, Helvetica, sans-serif;
}  

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#FFA149;
}

.assignment img {
    width:200px;
    padding:10px;
}

}

h1 {
    color:#242121;
    text-align:center;
}

a {
    text-decoration:none;
    color:#E7E4DD;
}