body {
    background: lightgray;
    font-family:Arial, Helvetica, sans-serif;
}  

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background: pink;
    border-radius:5px;
    box-shadow: 5px 8px darkred;
}

.assignment img {
    width:200px;
    border: 2px solid black;
    margin-right: 20px;
    border-radius:5px;
}

}

h1 {
    color:#242121;
    text-align:center;
    margin-right:100px;
}

a {
    text-decoration:none;
    color: black;
}

.assignment a:hover {
    color: white;
}